<!DOCTYPE html>
<html>
<head>
  <title>School ERP Notification</title>
</head>
<body>
  <h2>School ERP Notification</h2>
  <p>Hello <%= user %>,</p>
  <p><%= message %></p>
  <p>Best regards,<br>School ERP Team</p>
</body>
</html>