<!DOCTYPE html>
<html>
<head>
  <title>Reset Your Password</title>
</head>
<body>
  <h2>Reset Your Password</h2>
  <p>Hello <%= user %>,</p>
  <p>You requested to reset your password for your School ERP account. Please click the link below to set a new password:</p>
  <a href="<%= resetPasswordUrl %>">Reset Password</a>
  <p>This link will expire in 10 minutes. If you didn't request this, please ignore this email.</p>
  <p>Best regards,<br>School ERP Team</p>
</body>
</html>